table#pricing{
    background-color: transparent;
    width: 90%;
    font-family: 'Introlight',Arial,sans-serif !important;
    color: #7a7979;
    font-size: 15px;
    margin: auto;

    .most-popular{
        text-align: center;
        color: #fff;
        background-color: #0295BE;
        font-size: 13px;
        border-left: 2px solid  #0295BE;
        border-right: 2px solid  #0295BE;
    }

    .tableHeader{
        color: #000;
    }

    .dollarAmount{
        font-size: 30px;
        font-family: 'Introlight',Arial,sans-serif !important;
        color: #000;
    }

    .center, .blue-outline{
        text-align: center;
        padding-top: 10px;
    }

    .blue-outline{
        border-left: 2px solid  #0295BE;
        border-right: 2px solid  #0295BE;
    }

    .last{
        border-bottom: 2px solid  #0295BE;
    }

    .icon-check{
        font-size: 50px;
        color: #0295BE;
        line-height: 40px;
    }

    tr{
        border-bottom: 2px solid #b9b8b8;
    }

    .no-border{
        border: 0;
    }

    .text{
        padding-left: 20px;
        border-right: 2px solid #b9b8b8;
    }

    @media (max-width: 768px){
        width: 100%;

        .dollarAmount{
            font-size: 24px;
        }
    }
}

